@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap");

.RecPo-card {
  width: 255px !important;
  min-height: 332px;
  background: #ffffff;
  border: 1px solid #e6e8ec;
  box-sizing: border-box;
  box-shadow: 0px 20px 32px -24px rgba(15, 15, 15, 0.12);
  border-radius: 16px;
  padding: 30px 20px;
  margin: 0px 0px 40px 0px;
  cursor: pointer;
}
.RecentMyPoCard {
  margin-left: -42px !important;
}
.RecentCard-texts {
  width: 215px;
  font-family: Poppins !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #828b9e;
}
.RecCard-subtitle-button {
  width: 160px;
  height: 40px;
  border: 1px solid #e6e8ec;
  box-sizing: border-box;
  border-radius: 90px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: DM Sans !important;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #777e90;
  background-color: #ffffff;
  margin-top: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}
.RecTitleBox {
  height: 47px !important;
  margin-top: 23px;
}
.RecCardTitle2 {
  font-family: Poppins !important;
  color: #009444;
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  padding: 8px;
  width: 38px;
  height: 24px;
  /* left: 235px; */
  top: 3029px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 74px;
  margin-top: 11px;
  margin-bottom: 1px;
}
.RecCardSubtitle {
  font-family: Poppins !important;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #777e90;
  margin: 0px 9px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 44px;
}
.RecStar {
  margin-top: 13px !important;
}
.RecSpanTittle {
  font-family: Poppins !important;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  /* Neutrals/4 */
  color: #777e91;
  max-width: 19px;
}
.RecOutput {
  font-family: Poppins !important;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #009444;
  max-width: 19px;
  text-transform: capitalize;
  margin-left: 3px;
}
.RecentPoNo {
  padding: revert;
  width: 114px !important;
  height: 28px;
  border: 1px solid #e6e8ec;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: DM Sans !important;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #009444;
  background-color: white;
  /* flex: none; */
  /* order: 0; */
  /* flex-grow: 0; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.RecentPoNoList {
  width: 206px !important;
  border: 1px solid #e6e8ec;
  box-sizing: border-box;
  border-radius: 30px;
  font-family: DM Sans !important;
  background-color: white;
  height: 48px;
  color: #009444;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}
.RecRating {
  font-family: Poppins !important;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #f2b556;
  margin-bottom: 2px !important;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 3px !important;
}
.on {
  color: #f2b556;
}
.off {
  color: #ccc;
}
.RecShareIcon {
  margin-right: 21px;
  margin-top: 3px;
}
.avatar_2 {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
img,
svg {
  vertical-align: baseline !important;
}
#loveAvatar {
  margin-top: 11px !important;
  margin-left: 1px !important;
}
hr {
  border: 0px solid #858c96c4;
  background: #858c96c4 !important;
}
.RecentCard-texts {
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.RecentPoDescription {
  font-family: Poppins !important;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #777e90;
  margin: 0px 2px;
  margin-top: 9px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 215px;
  /* height: 48px; */
}
@media only screen and (max-width: 2000px) {
  .PoCardDesign {
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
  }
}

@media only screen and (max-width: 576px) {
  .PoCardDesign {
    justify-content: center !important;
    align-items: center !important;
    display: flex;
  }
  .RecPo-card {
    width: 255px !important;
    margin: 0px 0px 30px 0px;
  }
  .RecShareIcon {
    margin-right: 11px;
    margin-top: 4px;
  }
  .RecentPoNo {
    width: 131px !important;
    font-size: 12px;
    height: 30px;
  }
  .RecCardSubtitle {
    font-size: 12px !important;
    /* margin: 0px 0px; */
  }
}
