* {
	margin: 0;
	padding: 0;
}

.horizontalHr {
	margin: -8px 0px 0px 0px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}


body[dir="rtl"] .ms-auto {
    margin-right: auto!important;
    margin-left: inherit !important;
}