@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap");

.itemCard {
  width: 847px;
  height: 484px;
  background: #fcfcfd;
  border: 1px solid #e6e8ec;
  border-radius: 20px !important;
  justify-content: center;
  align-content: center;
  margin: 30px auto 30px auto;
}
@media only screen and (min-width: 1400px) {
  .itemCard {
    margin-left: -98px !important;
  }
}
@media only screen and (max-width: 1200px) {
  .itemCard {
    width: 682px !important;
    margin: 30px 0px 0px 0px !important;
  }
}
@media only screen and (max-width: 992px) {
  .itemCard {
    width: 500px !important;
    margin: 30px 0px 0px 0px !important;
  }
}

@media only screen and (max-width: 601px) {
  /* .newPaymentInput {
    max-width: 100% !important;
  }
  .poDivideBox1 {
    max-width: 100% !important;
  } */
  .itemCard {
    width: 500px !important;
    margin: 30px 0px 0px 0px !important;
  }
}

@media only screen and (max-width: 601px) {
  .itemCard {
    width: 100% !important;
    height: auto !important;
  }

  .newPoForm .newPoInput {
    width: 438px !important;
  }
  .newPoForm .poDivideBox1 {
    width: 438px !important;
  }
  .newPoForm .newPoTextArea {
    width: 438px;
  }
}
@media only screen and (max-width: 527px) {

  .itemCard {
    width: 100% !important;
    height: auto !important;
  }
  .newPoForm .newPoInput {
    width: 390px !important;
  }
  .newPoForm .poDivideBox1 {
    width: 390px !important;
  }
  .newPoForm .newPoTextArea {
    width: 390px;
  }
}

@media only screen and (max-width: 458px) {
  .itemCard {
    width: 100% !important;
    height: auto !important;
  }
  .newPoForm .newPoInput {
    width: 275px !important;
  }
  .newPoForm .poDivideBox1 {
    width: 275px !important;
  }
  .newPoForm .newPoTextArea {
    width: 275px;
  }
}
